[build]
builder = "nixpacks"

[deploy]
startCommand = "gunicorn pluralecon.wsgi --log-file -"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
